/*
* @Author: hp
* @Date:   2019-08-23 17:57:42
* @Last Modified by:   hp
* @Last Modified time: 2019-09-02 18:45:53
*/
*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	color:#fff;
	text-decoration: none;
}

.header{
	width:100%;
	height:70px;
	position:fixed;
	top:0;
	z-index: 111;
	background-color: #fff;

}
.nav-box{
	padding:0 53px 0 80px;
}
.nav-box .logo img{
	width:249px;
	height:38px;
	margin-top: 17px;
	float:left;
}
.nav-box{
	overflow: hidden;
}
.nav-box .nav-right{
	float:right;
	overflow: hidden;
}
.nav-box .nav-right li{
	float:left;
	text-align: center;
}
.nav-box .nav-right li a{
	display:block;
	width:104px;
	height:70px;
	line-height: 70px;
	font-size: 16px;
	color:#323232;
	text-align: center;
	text-decoration: none;
	position:relative;
	z-index: 22;
}

.nav-box .nav-right .li1 a{
	background-color:#232442;
	color:#fff;

}
.nav-box .nav-right .li2 a::before{
	content: '';
	width:104px;
	height:0;
	position: absolute;
	left:0;
	bottom: 0;
	z-index: -1;
	background:#232442;
	transition: .3s;
}
.nav-box .nav-right .li2 a:hover{
	color:#fff;
}
.nav-box .nav-right .li2 a:hover:before{
	height:100%;
	top: 0;

}
.nav-box .nav-right .box-img{
	width:150px;
	height:50px;
	float:right;
}
.nav-box .nav-right .box-img .a1{
	display:block;
	width:40px;
	height:35px;
	margin-top:25px;
	margin-left:20px;
	margin-right: 10px;
	float:left;
	position:relative;
}
.nav-box .nav-right .box-img .a1 p{
	display:block;
	width:40px;
	height:35px;
	background:url('../images/wei.png')no-repeat;
	position:absolute;
	top:0;
	left:0;
	display:none;

}

.nav-box .nav-right .box-img .a1:hover p{
	display:block;
}
.nav-box .nav-right .box-img .a2{
	display:block;
	width:62px;
	height:35px;
	float:left;
	margin-top:20px;
	position:relative;

}
.nav-box .nav-right .box-img .a2 img{
	float:left;
	margin-right:5px;
}
.nav-box .nav-right .box-img .a2 p{
	display:block;
	width:40px;
	height:35px;
	background:url('../images/linese2.png')no-repeat;
	position:absolute;
	top:0;
	left:0px;
	display:none;
}
.nav-box .nav-right .box-img .a2:hover p{
	display:block;
}
.nav-box .nav-right .box-img .a2:hover span{
	color:#232442;
}
.nav-box .nav-right .box-img .a2 span{
	display: inline-block;
	text-align:right;
	line-height:15px;
	font-size:13px;
	color:#a6a39f;
	vertical-align: center;
}
.nav-box .nav-icon{
	width:38px;
	height:25px;
	float:right;
	margin-top:23px;
	position:relative;
	display:none;
}
.nav-box .nav-icon span{
	display:block;
	width:38px;
	height:3px;
	margin-top:10px;
	background-color:#2f318b;
}
.nav-box .nav-icon span:before{
	content:'';
	width:38px;
	height:3px;
	background-color:#2f318b;
	position: absolute;
	top:0;
}
.nav-box .nav-icon span:after{
	content:'';
	width:38px;
	height:3px;
	background-color:#2f318b;
	position: absolute;
	bottom:0;
}
.nav-close{
	width:40px;
	height:30px;
	position:fixed;
	right:4%;
	top:3%;
	display:none;
}
.nav-close span{
	display:block;
	width:38px;
	height:3px;
	margin-top:13px;
	transform: rotate(50deg);
	background-color:#2f318b;
}
.nav-close span:before{
	content:'';
	width:38px;
	height:3px;
	background-color:#2f318b;
	transform: rotate(-100deg);
	position: absolute;
	top:0;
	left:0;
}
.menu{
	background-color: #fff;
	width:100%;
	height:100%;
	position: fixed;
	top:0px;
	overflow-y:auto;
	display:none;
}
.menu .menu-list{
	width:90%;
	margin:auto;
	padding-top: 100px;

}
.menu-list ul li a{
	display:inline-block;
	width:100%;
	height:60px;
	font-size:22px;
	font-weight: bold;
	text-align:center;
	line-height:60px;
	border-bottom:1px solid#ccc;
	color:#323232;
	text-decoration:none;

}
.menu .bott{
	width:100%;
	height:60px;
	text-align:center;
	overflow: hidden;



}
.menu .menu-bottom{
	height:60px;
	width:100%;
	position:absolute;
	bottom:0;

}
.menu .menu-bottom .a1{
	display:inline-block;
	position:relative;
	width:30px;
	height:30px;
	background:url('../images/weix.png') no-repeat;
}
.menu .menu-bottom .a2{
	display:inline-block;
	width:30px;
	height:30px;
	margin-left:45%;
	margin-top:20px;
	position:relative;
	background:url('../images/cart.png') no-repeat;
}

.menu .menu-bottom  span:before{
	content:'';
	width:50%;
	display:inline-block;
	height:60px;
	background-color:#2f318b;
	position:absolute;
	left:0;
	bottom: 0;

}
.menu .menu-bottom  span:after{
	content:'';
	width:50%;
	display:inline-block;
	height:60px;
	background-color:#55569a;
	position:absolute;
	right:0;
	bottom:0;
}
.footer{
	width:100%;
	background-color:#f9f9f9;
}
.footer-top{
	width:120px;
	height:40px;
	background-color:#2f318b;
	float:right;
	position:relative;
}
.footer-top span:before{
	display:inline-block;
	content:'';
	width:50px;
	height:30px;
	position:absolute;
	top:9px;
	left:20px;
	background:url('../images/weix.png')no-repeat;
}
.footer-top span:after{
	display:inline-block;
	content:'';
	width:50px;
	height:30px;
	position:absolute;
	top:9px;
	left:70px;
	background:url('../images/cart.png')no-repeat;
}
.footer-logo{
	margin-top:40px;
}
.footer-text{
	margin-top:10px;
	margin-left:60px;
	line-height:30px;
	padding-left: 20px;
	position:relative;
}
.footer-text:before{
	content:'';
	width:1px;
	height:80px;
	background-color:#aaa;
	position:absolute;
	left:-50px;

}
.footer-text .fsp1:before{
	display:inline-block;
	content:'';
	width:30px;
	height:30px;
	position:absolute;
	left:0;
	top:10px;
	background:url(../images/tel.png)no-repeat;
}
.footer-text .fsp1{
	margin-right:50px;
}
.footer-text .fsp2:before{
	display:inline-block;
	content:'';
	width:30px;
	height:30px;
	position:absolute;
	left:140px;
	top:10px;
	background:url(../images/copy.png)no-repeat;
}
.footer-text p:before{
	display:inline-block;
	content:'';
	width:30px;
	height:30px;
	position:absolute;
	left:0;
	top:40px;
	background:url(../images/emain.png)no-repeat;
}
.footer-r{
	margin-top:100px;
	line-height:15px;

}
.footer-r .p1{
	color:#ddd;

}
.footer-bot{
	margin-top:20px;
	color:#aaa;
	margin-bottom:30px;
	font-size:5px;

}



@media (max-width:1280px){
    .nav-box{
	  padding:0 23px 0 30px;
}
  
}


@media (max-width:1200px){
    .nav-box .logo img{
	width:180px;
	heigth:20px;
	margin-top: 17px;
}	
}
@media (max-width:1100px){
   

}

@media (max-width:1024px){
    .nav-right{
    	display:none;
   }
   .nav-box .nav-icon{
    	display:block;
    }
    .nav-close{
    	display:block;
    }
    .banner-line:before{
    	display:none;
    }
    .banner-line:after{
    	display:none;
    }
    
   
}



  @media (max-width:861px){
      
   
}
@media (max-width:641px){
	.footer-r{
		margin-top:20px;
		line-height:10px;

	}
	.footer-text:before{
	display: none;

	}
}

@media (max-width:480px){
	
   .footer-text:before{
	display:none;
}
.footer-text {
	margin-top: 10px;
	margin-left: 0;
	line-height: 30px;
	padding-left: 20px;
	position: relative;

}
.nav-icon{
	width:30px;
	height:20px;
}
.nav-box .logo img{
	width:160px;
	height:30px;
	margin-top: 17px;

}

}



